* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    padding: 1% 3%;
}

.container h1 {
    padding: 1% 0% 1% 0%;
}

.HeaderNavMain {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    background-color: #062943;
    width: 100%;
    position: static;
    padding: 8px;
}

.HeaderNavMain ul {
    list-style: none;
    margin: 2px;
    padding: 0px;
    display: inline-block;
}

.HeaderNavMain ul li {
    margin: 0px;
}

.HeaderNavMain li:hover {
    transition: 0.5s;
}

.HeaderNavMain li:not(hover) {
    transition: 0.5s;
}

.HeaderNavMain a {
    color: #fff;
    text-decoration: none;
    padding: 3px;
    ;
}

.HeaderNavMain a:hover {
    color: #fdc300;
}

.HeaderNavMain a:not(hover) {
    transition: 0.3s;
}

#NavUlLiButton-Contact {
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 10px;
    color: #000;
    background: #fdc300;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#NavUlLiButton-Contact:hover {
    background: #fff;
    transition: 0.3s;
}

#NavUlLiButton-Contact:not(hover) {
    transition: 0.3s;
}

#ServicesCont ul {
    padding: 1% 2% 2% 4%;
}

#StudiesTitles {
    padding: 1% 2%;
}

#StudiesTitles p {
    padding: 0.3%;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    text-align: center;
    padding: 20px 5px 3px 5px;
}




.images img {
    max-width: 99%;
    max-height: 99%;
    min-height: 99%;
}

.images {
    display: flex
}